* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  display: grid;
  place-items: center;
  height: 100vh;

  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

.hide {
  display: none;
}

main div {
  background: #FFFFFF;
  width: 42.8rem;
  border-radius: 5px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  text-align: center;
}

.screen1 {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  animation: popUp .7s forwards ease-in-out;
}

.screen2 {
  padding: 4.8rem 6.4rem;
}

h1 {
  animation: popUp .7s .5s forwards ease-in-out;
}

h2 {
  animation: popUp 1s ease-in-out;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: #34355B;
}

#cookie {
  animation: shake .5s 1.5s forwards;
}

#cookie:hover {
  animation: shake .5s infinite;
  cursor: pointer;
}

#luckyMessage {
  color: #000;
  font-family:'Dancing Script', cursive;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin: 1.7rem auto;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  padding: 10px;
  justify-content: center;
  align-items: center;

  animation: showUp 3s 1s backwards ease-in;
}

.screen2 img {
  animation: open 3s ease-in-out;
}

.screen1 p {
  color: #34355B;
  font-weight: 400;
  margin: 1.4rem auto 2.6rem;
  animation: popUp .7s 1s forwards ease-in-out;
}

p,
button {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

button {
  font-weight: 700;
  color: #FFFFFF;

  border-radius: 4px;
  background: #FF9500;
  padding: 1.6rem;
  border: none;

  margin-top: 1.7rem;
}

button:hover {
  border: 1px solid #553811;
  background: #ec8a00;
  margin-top: 1.5rem;
  cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes showUp {
  0% {
    opacity: 0;
		transform: perspective(900px) rotateY(0);
    transform-origin: 50% -450%;
	}
	40% {
		transform: perspective(900px) translateZ(150px) rotateY(170deg);
	}
	50% {
		transform: perspective(900px) translateZ(150px) rotateY(190deg) scale(1);
	}
	80% {
		transform: perspective(900px) rotateY(360deg) scale(.95);
	}
	100% {
		transform: perspective(100px) scale(1);
    transform-origin: 50% 100%;
	}
}

@keyframes popUp {
  50% {
    transform: scale(1.2);
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scale(1.5);
    transform-origin: 50% 300%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}